
.chat_window{
    height: 85vh;
    width: 70vw;
    background-color: #ECF3ED;
    margin-left: 205px;
    margin-bottom: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .fixedChat{
      display: flex;
  }

  .chatSymbol{
      font-size: 35px;
      margin: 15px;
  }

.chat_title{
    font-family:sans-serif;
    font-size: 30px;
    margin: 10px;
} 
