.messageWindow{
    display: flex;
    flex-direction: column;
    height: 64vh;
    width: 69.5vw;
    border: none;
    overflow: auto;
}

.messageBefore:nth-of-type(2n+1){
    content: "";
    width: 2vw;
    height: 200px;
    background-color: white;
}

.messageAfter:nth-of-type(2n+1){
    content: "sai";
    width: 10vw;
    height: 200px;
    background-color: white;
    transition:0.5s ease-out;
}

.messageBefore:nth-of-type(2n)
{
    align-self: flex-end;
    content: "sai";
    width: 2vw;
    height: 200px;
    background-color: white;
}

.messageAfter:nth-of-type(2n)
{
    align-self: flex-end;
    content: "sai";
    width: 10vw;
    height: 200px;
    background-color: white;
    transition:0.5s ease-out;
}

.messageTextBefore{
    opacity: 0;
}

.messageTextAfter{
    opacity: 1;
    transition:all 0.5s ease-in;
}